body{
    margin: 0;
    padding: 0;
    background-image: url(/img/2.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}
html,body{
    overflow: hidden;
}
.test{
    position: relative;
    z-index: 11;
    background-color: black;
}
#renderer{
    position: relative;

}
.fdzz{
    display: flex;
    justify-content: space-between;
    align-items: center;
}